<!DOCTYPE html>
<html>
<head>
	<title>Postage Total</title>
</head>
<body>
	<h1>Postage Due</h1>
	<p>Your <strong><%= package %></strong> that weigh's <strong> <%= weight %> </strong> will cost <strong><%= total %></strong> </p>
</body>
</html>